<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>QuanLyHDDoan</display-name>
  <servlet>
    <servlet-name>chidoan</servlet-name>
    <servlet-class>Controller.GetCDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chidoan</servlet-name>
    <url-pattern>/danhsachchidoan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hoatdong</servlet-name>
    <servlet-class>Controller.GetHDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hoatdong</servlet-name>
    <url-pattern>/danhsachhoatdong</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hoatdongchuaduyet</servlet-name>
    <servlet-class>Controller.GetHDChuaDuyetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hoatdongchuaduyet</servlet-name>
    <url-pattern>/danhsachhoatdongchuaduyet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doankhoa</servlet-name>
    <servlet-class>Controller.GetDKDSHDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doankhoa</servlet-name>
    <url-pattern>/xemdanhsachhoatdong</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doankhoahoatdong</servlet-name>
    <servlet-class>Controller.GetDKHDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doankhoahoatdong</servlet-name>
    <url-pattern>/doankhoadanhsachhoatdong</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thongbao</servlet-name>
    <servlet-class>Controller.GetTBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>thongbao</servlet-name>
    <url-pattern>/danhsachthongbao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>Controller.GetDVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/danhsachdoanvien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dkhoatdong</servlet-name>
    <servlet-class>Controller.GetHDDuyetServlet </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dkhoatdong</servlet-name>
    <url-pattern>/dangkyhoatdong</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>danhsachchidoan</welcome-file>
  </welcome-file-list>
</web-app>